{% extends 'base.html' %}
{% load static %}

{% block content %}


    <section class="main_top_slider">
        <div class="fade">
            {% for foo in slider %}
                <div class="fade_item">
                    <img src="{{ foo.image.url }}" alt="bg">
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="aboutus container">
        <h1 class="h1_title_dark">{{ header_items.title_5_hy }}</h1>
        <p>
        <div class="text_img">
            <img src="{{ aboutus.image.url }}" alt="img">
        </div>

        {{ aboutus.body_hy|safe }}
        </p>

        <section class="aboutus_content">
            <div class="aboutus_contact">
                <h3> Էլ հասցե</h3>
                <a style="text-decoration: none" href="mailto:{{ footer.mail }}"><i class='fas fa-envelope'></i> {{ footer.mail }}</a>
                <br>
                <h3>Սոցիալական կայքեր</h3>
                <p>
                    <a href="{{ footer.facebook }}">
                        <img src="{% static 'img/facebook.png' %}" alt="fb"> Facebook
                    </a>
                </p>
                <p>
                    <a href="{{ footer.youtube }}">
                        <img src="{% static 'img/youtube.png' %}" alt="fb"> Youtube
                    </a>
                </p>
                <p>
                    <a href="{{ footer.soundcloud }}">
                        <img src="{% static 'img/soundcloud.png' %}" alt="fb"> SoundCloud
                    </a>
                </p>
            </div>
            <div class="aboutus_map">
                <div class="video_wrap">
                    <div class="map">
                        <iframe src="https://yandex.ru/map-widget/v1/-/CBFVREa7sD" width="560" height="400"
                                frameborder="0" allowfullscreen="true"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}