{% extends 'base.html' %}

{% block content %}
    <section class="main_top_slider">
        <div class="fade">
            {% for foo in slider %}
                <div class="fade_item">
                    <img src="{{ foo.image.url }}" alt="bg">
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="broadcast_page container">
        <h1 class="h1_title_dark">{{ header_items.titl_3_hy }}</h1>
        <div class="multiple-items">
            {% for foo in broadcastsdates %}
                <div class="broadcast_slider_item {% if brodcastdate.slug == foo.slug %}activeTab{% endif %}">
                    <p><a style="text-decoration: none;" href="{{ foo.get_absolute_url }}">{{ foo.week_dey_hy }}</a></p>
                    <p><a style="text-decoration: none;" href="{{ foo.get_absolute_url }}">{{ foo.date_hy }}</a></p>
{#                    <p>{{ foo.week_dey_hy }}</p>#}
{#                    <p>{{ foo.date_hy }}</p>#}
                </div>
            {% endfor %}

{#            <div class="broadcast_slider_item activeTab">#}
{#                    <p><a href="{{ foo.get_absolute_url }}">{{ foo.week_dey_hy }}</a></p>#}
{#                    <p><a href="{{ foo.get_absolute_url }}">{{ foo.date_hy }}</a></p>#}
{#                    <p>{{ broadcastsdates.week_dey_hy }}</p>#}
{#                    <p>{{ broadcastsdates.date_hy }}</p>#}
{#                </div>#}
        </div>
        <div class="broadcast_content">
        {% if brodcastdate.slug %}
            <h3>{{ brodcastdate.date_hy }} {{ brodcastdate.week_dey_hy }}</h3>
        {% endif %}
            {% for broadcast in broadcasts %}
                <div class="broadcast_content_item">
                    <div class="broadcast_content_item_cover">
                        <img src="{{ broadcast.image.url }}" alt="logo">
                    </div>
                    <div class="broadcast_content_item_watch">{{ broadcast.from_time|time:'f : i' }}
                        - {{ broadcast.to_time|time:'f : i' }}</div>
                    <div class="broadcast_content_item_name">
                        <a href="#">{{ broadcast.title_hy }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}