{% extends 'base.html' %}

{% block content %}
    <section class="main_top_slider">
        <div class="fade">
            {% for foo in slider %}
                <div class="fade_item">
                    <img src="{{ foo.image.url }}" alt="bg">
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="page_section container">
        <section class="page_section_items">
            <h1 class="h1_title_dark">{{ header_items.title_1_hy }}</h1>
            {% for program in page_object.object_list %}
            <div class="project_section_item hover">
                <div class="project_section_item_cover">
                    <a href="{{ program.url }}">
                        <img src="{{ program.image.url }}" alt="img">
                    </a>
                    <h3 class="project_name">
                        <a href="{{ program.url }}">{{ program.title_hy }}</a>
                    </h3>
                </div>
                <div class="project_section_item_text">
                    <h4 class="item_title">
                        <a href="{{ program.url }}">{{ program.author_hy }}</a>
                    </h4>
                </div>
            </div>
            {% endfor %}


            {% if is_paginated %}
                <div class="pageing">
                    <a {% if not next_url %} disabled {% endif %} href="{{ prev_url }}" tabindex="-1"><i
                            class='fas fa-angle-double-left'></i></a>
                    {% for n in page_object.paginator.page_range %}
                        {% if page_object.number == n %}
                            <a href="?page={{ n }}" class="currentPageing">{{ n }}</a>
                        {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                            <a href="?page={{ n }}">{{ n }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if next_url %}
                        <a href="{{ next_url }}" tabindex="-1"><i class='fas fa-angle-double-right'></i></a>
                    {% elif not next_url %}
                        <a href="?page=1"><i class='fas fa-angle-double-right'></i></a>
                    {% endif %}
                </div>
            {% endif %}
        </section>
        <section class="inside_aside">
            <h1 class="h1_title_dark">Դիտեք նաև</h1>
            <div class="inside_aside_scroll">
                {% for foo in interviews_random %}
                    <div class="inside_aside_item hover">
                        <div class="inside_aside_item_cover">
                            <a href="{{ foo.url }}" target="_blank">
                                <img src="{{ foo.image.url }}" alt="img">
                            </a>
                        </div>
                        <div class="inside_aside_item_text">
                            <h5 class="item_title">
                                <a href="{{ foo.url }}" target="_blank">{{ foo.title_hy }}</a>
                            </h5>
                            <p class="item_text">{{ foo.body_hy|safe }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>
{% endblock %}