{% extends 'base.html' %}

{% block content %}
    <section class="main_top_slider">
        <div class="fade">
            {% for foo in slider %}
                <div class="fade_item">
                    <img src="{{ foo.image.url }}" alt="bg">
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="search_resaults container">
        <section class="page_section_items">
            <h1 class="h1_title_dark">Փնտրման արդյուքները</h1>
            {% for interview in results %}
                <div class="project_section_item hover">
                    <div class="interviews_section_item_cover">
                        <a href="{{ interview.url }}" target="_blank">
                            <img src="{{ interview.image.url }}" alt="item">
                        </a>
                    </div>
                    <div class="interviews_section_item_text">
                        <h4 class="item_title">
                            <a href="{{ interview.url }}" target="_blank">{{ interview.title_hy }}</a>
                        </h4>
                        <p class="item_text">{{ interview.body_hy|safe }}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </section>
{% endblock %}