{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Գլխավոր' %}</a>
&rsaquo; {% trans 'Գաղտնաբառի վերականգնում հաստատում' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

{% if validlink %}

<p>{% trans "Խնդրում ենք մուտքագրել նոր գաղտնաբառ երկու անգամ, որպեսզի մենք կարողանանք ստուգել այն ճիշտ կերպով:" %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans 'Նոր ծածկագիր:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% trans 'Հաստատել գաղտնաբառը:' %}</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="{% trans 'Փոխել իմ գաղտնաբառը' %}">
</fieldset>
</form>

{% else %}

<p>{% trans "Գաղտնաբառի վերակայման հղումը անվավեր է, հնարավոր է, քանի որ այն արդեն օգտագործվել է: Խնդրում ենք նոր գաղտնաբառի վերականգնում:" %}</p>

{% endif %}

{% endblock %}
