{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Խնդրում ենք այցելել հետեւյալ էջը եւ ընտրել նոր գաղտնաբառ:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans 'Ձեր օգտանունը, եթե դուք մոռացել եք' %} {{ user.get_username }}

{% trans "Շնորհակալություն մեր կայքի օգտագործման համար:" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
