{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Գլխավոր' %}</a>
&rsaquo; {% trans 'Գաղտնաբառի վերականգնում' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<p>{% trans 'Մոռացել եք ձեր գաղտնաբառը: Մուտքագրեք ձեր էլփոստի հասցեն ստորեւ, եւ մենք կուղարկենք նոր հրահանգներ հրահանգներ:' %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Էլեկտրոնային հասցե:' %}</label>
        {{ form.email }}
    </div>
    <input type="submit" value="{% trans 'Վերականգնել իմ գաղտնաբառը' %}">
</fieldset>
</form>

{% endblock %}
