{% load i18n admin_urls %}
<div class="submit-row">
{% block submit-row %}
{% if show_save %}<input type="submit" value="{% trans 'Պահել' %}" class="default" name="_save">{% endif %}
{% if show_delete_link and original %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Ջնջել" %}</a></p>
{% endif %}
{% if show_save_as_new %}<input type="submit" value="{% trans 'Պահպանել ինչպես նորը' %}" name="_saveasnew">{% endif %}
{% if show_save_and_add_another %}<input type="submit" value="{% trans 'Պահել եւ ավելացնել մեկ այլ' %}" name="_addanother">{% endif %}
{% if show_save_and_continue %}<input type="submit" value="{% if can_change %}{% trans 'Պահպանել եւ շարունակել խմբագրումը' %}{% else %}{% trans 'Պահել եւ դիտել' %}{% endif %}" name="_continue">{% endif %}
{% if show_close %}<a href="{% url opts|admin_urlname:'changelist' %}" class="closelink">{% trans 'Փակել' %}</a>{% endif %}
{% endblock %}
</div>
