<section class="main_top_slider">
    <div class="fade">
        <div class="fade_item">
            <img src="img/bg1.jpg" alt="bg">
        </div>
        <div class="fade_item">
            <img src="img/bg2.jpg" alt="bg">
        </div>
        <div class="fade_item">
            <img src="img/bg3.jpg" alt="bg">
        </div>
        <div class="fade_item">
            <img src="img/bg4.jpg" alt="bg">
        </div>
        <div class="fade_item">
            <img src="img/bg5.jpg" alt="bg">
        </div>
        <div class="fade_item">
            <img src="img/bg6.jpg" alt="bg">
        </div>
    </div>
</section>
<section class="page_section container">
    <section class="page_section_items">
        <h1 class="h1_title_dark">Հարցազրույցներ</h1>
        <div class="interviews_section_item hover">
            <div class="interviews_section_item_cover">
                <a href="https://soundcloud.com/user-765957114" target="_blank">
                    <img src="img/item_cover.jpg" alt="item">
                </a>
            </div>
            <div class="interviews_section_item_text">
                <h4 class="item_title">
                    <a href="https://soundcloud.com/user-765957114" target="_blank">ԵՄ անդամ երկրների միգրացիոն
                        քաղաքականությունը եւ հայ միգրանտները</a>
                </h4>
                <p class="item_text">ԵՄ անդամ երկրների միգրացիոն քաղաքականությունը եւ հայ միգրանտները, ԵՄ անդամ երկրների
                    միգրացիոն քաղաքա:</p>
            </div>
        </div>
        <div class="interviews_section_item hover">
            <div class="interviews_section_item_cover">
                <a href="https://soundcloud.com/user-765957114" target="_blank">
                    <img src="img/item_cover.jpg" alt="item">
                </a>
            </div>
            <div class="interviews_section_item_text">
                <h4 class="item_title">
                    <a href="https://soundcloud.com/user-765957114" target="_blank">Իրանի և ԵԱՏՄ-ի միջև ազատ առևտրի
                        գոտու ստեղծումն ու Հայաստանի շահերը</a>
                </h4>
                <p class="item_text">ԵՄ անդամ երկրների միգրացիոն քաղաքականությունը եւ հայ միգրանտները, ԵՄ անդամ երկրների
                    միգրացիոն քաղաքա:</p>
            </div>
        </div>
        <div class="interviews_section_item hover">
            <div class="interviews_section_item_cover">
                <a href="https://soundcloud.com/user-765957114" target="_blank">
                    <img src="img/item_cover.jpg" alt="item">
                </a>
            </div>
            <div class="interviews_section_item_text">
                <h4 class="item_title">
                    <a href="https://soundcloud.com/user-765957114" target="_blank">Ճանաչիր և հիշիր - Ջիվան Աբրահամյան
                        /10․06․2019/</a>
                </h4>
                <p class="item_text">ԵՄ անդամ երկրների միգրացիոն քաղաքականությունը եւ հայ միգրանտները, ԵՄ անդամ երկրների
                    միգրացիոն քաղաքա:</p>
            </div>
        </div>
        <div class="interviews_section_item hover">
            <div class="interviews_section_item_cover">
                <a href="https://soundcloud.com/user-765957114" target="_blank">
                    <img src="img/item_cover.jpg" alt="item">
                </a>
            </div>
            <div class="interviews_section_item_text">
                <h4 class="item_title">
                    <a href="https://soundcloud.com/user-765957114" target="_blank">Փորձում են խեղդել այլակարծությունն
                        ու ընդդիմության ցանկացած ձեւավորում․ Լիլիթ Թումանյան</a>
                </h4>
                <p class="item_text">ԵՄ անդամ երկրների միգրացիոն քաղաքականությունը եւ հայ միգրանտները, ԵՄ անդամ երկրների
                    միգրացիոն քաղաքա:</p>
            </div>
        </div>
        <div class="interviews_section_item hover">
            <div class="interviews_section_item_cover">
                <a href="https://soundcloud.com/user-765957114" target="_blank">
                    <img src="img/item_cover.jpg" alt="item">
                </a>
            </div>
            <div class="interviews_section_item_text">
                <h4 class="item_title">
                    <a href="https://soundcloud.com/user-765957114" target="_blank">ԵՄ անդամ երկրների միգրացիոն
                        քաղաքականությունը եւ հայ միգրանտները</a>
                </h4>
                <p class="item_text">ԵՄ անդամ երկրների միգրացիոն քաղաքականությունը եւ հայ միգրանտները, ԵՄ անդամ երկրների
                    միգրացիոն քաղաքա:</p>
            </div>
        </div>
        <div class="interviews_section_item hover">
            <div class="interviews_section_item_cover">
                <a href="https://soundcloud.com/user-765957114" target="_blank">
                    <img src="img/item_cover.jpg" alt="item">
                </a>
            </div>
            <div class="interviews_section_item_text">
                <h4 class="item_title">
                    <a href="https://soundcloud.com/user-765957114" target="_blank">Իրանի և ԵԱՏՄ-ի միջև ազատ առևտրի
                        գոտու ստեղծումն ու Հայաստանի շահերը</a>
                </h4>
                <p class="item_text">ԵՄ անդամ երկրների միգրացիոն քաղաքականությունը եւ հայ միգրանտները, ԵՄ անդամ երկրների
                    միգրացիոն քաղաքա:</p>
            </div>
        </div>
        <div class="interviews_section_item hover">
            <div class="interviews_section_item_cover">
                <a href="https://soundcloud.com/user-765957114" target="_blank">
                    <img src="img/item_cover.jpg" alt="item">
                </a>
            </div>
            <div class="interviews_section_item_text">
                <h4 class="item_title">
                    <a href="https://soundcloud.com/user-765957114" target="_blank">Ճանաչիր և հիշիր - Ջիվան Աբրահամյան
                        /10․06․2019/</a>
                </h4>
                <p class="item_text">ԵՄ անդամ երկրների միգրացիոն քաղաքականությունը եւ հայ միգրանտները, ԵՄ անդամ երկրների
                    միգրացիոն քաղաքա:</p>
            </div>
        </div>
        <div class="interviews_section_item hover">
            <div class="interviews_section_item_cover">
                <a href="https://soundcloud.com/user-765957114" target="_blank">
                    <img src="img/item_cover.jpg" alt="item">
                </a>
            </div>
            <div class="interviews_section_item_text">
                <h4 class="item_title">
                    <a href="https://soundcloud.com/user-765957114" target="_blank">Փորձում են խեղդել այլակարծությունն
                        ու ընդդիմության ցանկացած ձեւավորում․ Լիլիթ Թումանյան</a>
                </h4>
                <p class="item_text">ԵՄ անդամ երկրների միգրացիոն քաղաքականությունը եւ հայ միգրանտները, ԵՄ անդամ երկրների
                    միգրացիոն քաղաքա:</p>
            </div>
        </div>
        <div class="pageing">
            <a href="#"><i class='fas fa-angle-double-left'></i></a>
            <a href="#" class="currentPageing">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#"><i class='fas fa-angle-double-right'></i></a>
        </div>
    </section>
    <section class="inside_aside">
        <h1 class="h1_title_dark">Դիտեք նաև</h1>
        <div class="inside_aside_scroll">
            <div class="inside_aside_item hover">
                <div class="inside_aside_item_cover">
                    <a href="https://soundcloud.com/user-765957114" target="_blank">
                        <img src="img/item_cover.jpg" alt="img">
                    </a>
                </div>
                <div class="inside_aside_item_text">
                    <h5 class="item_title">
                        <a href="https://soundcloud.com/user-765957114" target="_blank">
                            Իրանի և ԵԱՏՄ-ի միջև ազատ առևտրի գոտու ստեղծումն ու Հայաստանի շահերը
                        </a>
                    </h5>
                    <p class="item_text">Lorem Ipsum-ը տպագրության և տպագրական արդյունաբերության...</p>
                </div>
            </div>
            <div class="inside_aside_item hover">
                <div class="inside_aside_item_cover">
                    <a href="https://soundcloud.com/user-765957114" target="_blank">
                        <img src="img/item_cover.jpg" alt="img">
                    </a>
                </div>
                <div class="inside_aside_item_text">
                    <h5 class="item_title">
                        <a href="https://soundcloud.com/user-765957114" target="_blank">
                            Իրանի և ԵԱՏՄ-ի միջև ազատ առևտրի գոտու ստեղծումն ու Հայաստանի շահերը
                        </a>
                    </h5>
                    <p class="item_text">Lorem Ipsum-ը տպագրության և տպագրական արդյունաբերության...</p>
                </div>
            </div>
            <div class="inside_aside_item hover">
                <div class="inside_aside_item_cover">
                    <a href="https://soundcloud.com/user-765957114" target="_blank">
                        <img src="img/item_cover.jpg" alt="img">
                    </a>
                </div>
                <div class="inside_aside_item_text">
                    <h5 class="item_title">
                        <a href="https://soundcloud.com/user-765957114" target="_blank">
                            Իրանի և ԵԱՏՄ-ի միջև ազատ առևտրի գոտու ստեղծումն ու Հայաստանի շահերը
                        </a>
                    </h5>
                    <p class="item_text">Lorem Ipsum-ը տպագրության և տպագրական արդյունաբերության...</p>
                </div>
            </div>
            <div class="inside_aside_item hover">
                <div class="inside_aside_item_cover">
                    <a href="https://soundcloud.com/user-765957114" target="_blank">
                        <img src="img/item_cover.jpg" alt="img">
                    </a>
                </div>
                <div class="inside_aside_item_text">
                    <h5 class="item_title">
                        <a href="https://soundcloud.com/user-765957114" target="_blank">
                            Իրանի և ԵԱՏՄ-ի միջև ազատ առևտրի գոտու ստեղծումն ու Հայաստանի շահերը
                        </a>
                    </h5>
                    <p class="item_text">Lorem Ipsum-ը տպագրության և տպագրական արդյունաբերության...</p>
                </div>
            </div>
            <div class="inside_aside_item hover">
                <div class="inside_aside_item_cover">
                    <a href="https://soundcloud.com/user-765957114" target="_blank">
                        <img src="img/item_cover.jpg" alt="img">
                    </a>
                </div>
                <div class="inside_aside_item_text">
                    <h5 class="item_title">
                        <a href="https://soundcloud.com/user-765957114" target="_blank">
                            Իրանի և ԵԱՏՄ-ի միջև ազատ առևտրի գոտու ստեղծումն ու Հայաստանի շահերը
                        </a>
                    </h5>
                    <p class="item_text">Lorem Ipsum-ը տպագրության և տպագրական արդյունաբերության...</p>
                </div>
            </div>
            <div class="inside_aside_item hover">
                <div class="inside_aside_item_cover">
                    <a href="https://soundcloud.com/user-765957114" target="_blank">
                        <img src="img/item_cover.jpg" alt="img">
                    </a>
                </div>
                <div class="inside_aside_item_text">
                    <h5 class="item_title">
                        <a href="https://soundcloud.com/user-765957114" target="_blank">
                            Իրանի և ԵԱՏՄ-ի միջև ազատ առևտրի գոտու ստեղծումն ու Հայաստանի շահերը
                        </a>
                    </h5>
                    <p class="item_text">Lorem Ipsum-ը տպագրության և տպագրական արդյունաբերության...</p>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="download_section" style="background-color: #0071AE">
    <section class="download_items container">
        <div class="footer_logo">
            <a href="index.html">
                <img src="img/logo_png.png" alt="logo">
            </a>
        </div>
        <div class="download_social">
            <div class="download">
                <a href="#" title="Ներբեռնել հավելվածը App Store-ից">
                    <img src="img/as.png" alt="apple">
                </a>
                <a href="#" title="Ներբեռնել հավելվածը Play Market-ից">
                    <img src="img/gp.png" alt="google play">
                </a>
            </div>
            <div class="footer_social">
                <a href="https://www.facebook.com/ArmnewsFM/" target="_blank">
                    <img src="img/facebook.png" alt="social_icon">
                </a>
                <a href="https://www.youtube.com/channel/UC7af1d7soX2vpl4m2hG-S1Q" target="_blank">
                    <img src="img/youtube.png" alt="social_icon">
                </a>
                <a href="https://soundcloud.com/user-765957114" target="_blank">
                    <img src="img/soundcloud.png" alt="social_icon">
                </a>
            </div>
        </div>
    </section>
</section>